.botao{
    background-color: rgb(15, 15, 87);
    width: 35vh;
    height: 35vh;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0 5px white;
    border: solid 2px;
    box-shadow: 0 0 4px white;
}

.botao:active{
    background-color: rgb(55, 55, 107);
}

.jogador{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 1%;
    top: 1%;
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.645), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
}

.botaoRegras{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    right: 1%;
    top: 1%;
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.645), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
    
}

.menu{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    background-color: rgb(136, 136, 136);
    display: none;
    border-radius: 4px;
    padding: 7px;
   
}


.regras{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #888;
    padding: 10px;
    border: 1px solid;
    box-shadow: 0 0 6px;
    border-radius: 8px;
    display: none;
}

.botaoSair{
    padding: 5px;
    background: radial-gradient(rgba(0, 0, 0, 0.645), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
}


.salvar{
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.645), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
}



.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.213);
    border-radius: 6px;
    padding: 2px;
    text-shadow: 1px 1px 1px rgba(255, 235, 205, 0.556);
    text-align: center;
    transition: 1s;

}
span{
    color: red;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.container__vermelho{
    width: 50vw;
    height: 50vh;
    background-image: linear-gradient(115deg, darkred, white);
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.container__verde{
    width: 50vw;
    height: 50vh;
    background-image: linear-gradient(225deg, darkgreen, white);
    display: flex;
    justify-content:start;
    align-items: flex-end;
}

.container__azul{
    width: 50vw;
    height: 50vh;
    background-image: linear-gradient(45deg, darkblue, white);
    display: flex;
    justify-content: end;
}

.container__amarelo{
    width: 50vw;
    height: 50vh;
    background-image: linear-gradient(315deg, rgb(181, 181, 3), white);
}

.container__vermelho-vermelho{
    width: 35vh;
    height: 35vh;
    background-color: #d00000;
    border-top-left-radius: 100%;
    border: solid 8px;
    border-left-width: 3px;
    border-top-width: 3px;
    box-shadow: 0 0 30px black;
}
.container__vermelho-vermelho:active{
    background-color: #f87878;
}

.container__verde-verde{
    width: 35vh;
    height: 35vh;
    background-color: #007700;
    border-top-right-radius: 100%;
    border: solid 8px;
    border-right-width: 3px;
    border-top-width: 3px;
    box-shadow: 0 0 30px black;
}
.container__verde-verde:active{
    background: #34ce34;
}

.container__azul-azul{
    width: 35vh;
    height: 35vh;
    background-color: #0000bf;
    border-bottom-left-radius: 100%;
    border: solid 8px;
    border-left-width: 3px;
    border-bottom-width: 3px;
    box-shadow: 0 0 30px black;
}

.container__azul-azul:active{
    background: #8b8bf7;
}

.container__amarelo-amarelo{
    width: 35vh;
    height: 35vh;
    background-color: #c9c902;
    border-bottom-right-radius: 100%;
    border: solid 8px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    box-shadow: 0 0 30px black;
}

.container__amarelo-amarelo:active{
    background-color: #ffff3f;
}

.ok{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.926), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
    font-size: 4rem;
    display: none;
}

.pontuacao{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 1%;
    bottom: 1%;
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.645), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
}

.rodape{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.213);
    border-radius: 6px;
    padding: 2px;
    text-shadow: 1px 1px 1px rgba(255, 235, 205, 0.556);

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 588px){
    
    
    .texto{
        font-size: 1rem;
    }
    
    .container__vermelho-vermelho{
        width: 45vw;
        height: 45vw;
    }

    .container__verde-verde{
        width: 45vw;
        height: 45vw;
    }

    .container__azul-azul{
        width: 45vw;
        height: 45vw;
    }

    .container__amarelo-amarelo{
        width: 45vw;
        height: 45vw;
    }

    .botao{
        top: 54%;
        width: 45vw;
        height: 45vw;
    }


    .rodape{
        font-size: 1rem;
    }
}
